.mood-button-container {
  display: flex;
  justify-content: center;
}

.mood-button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border-radius: 5px;
  margin: 5px 10px;
  font-size: 16px;
  padding: 5x;
}

.mood-selected-container {
  min-height: 70px;
  display: flex;
  justify-content: center;
}

.mood-selected {
  font-size: 48px;
}
