$analytical: #264653;
$fear: #2A9D8F;
$joy: #E9C46A;
$sadness: #F4A261;
$anger: #E76F51;
$confident: #E2E874;
$tentative: #2A859E;

* {
  font-size: 20px;
  font-family: sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.mood-button-container {
  margin: auto;
  width: 95%;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: '500px') {
    max-width: 380px;
  }
}

.mood-button {
  background-color: transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  outline:none;
  border: none;
}

.mood-selected-container {
  margin: 20px 0;
  text-align: center;
  font-size: 3em;

  p {
    font-size: 1rem;
    margin: 0;
  }
}


.stacked-bar-graph {
  width: 100%;
  height: 38px;
  display: flex;

  .bar {
    height:100%;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }
  }

  .bar-analytical {
    background: rgba($analytical, .4);
    
        &.bar-selected {
          background: rgba($analytical, .8);
          border: 3px solid $analytical;
        }
  }

  .bar-fear {
    background: rgba($fear, .4);
    
        &.bar-selected {
          background: rgba($fear, .8);
          border: 3px solid $fear;
        }
  }

  .bar-joy{
    background: rgba($joy, .4);
    
        &.bar-selected {
          background: rgba($joy, .8);
          border: 3px solid $joy;
        }
  }
  
  .bar-sadness {
    background: rgba($sadness, .4);
    
        &.bar-selected {
          background: rgba($sadness, .8);
          border: 3px solid $sadness;
        }
  }
    
  .bar-anger {
    background: rgba($anger, .4);
    
        &.bar-selected {
          background: rgba($anger, .8);
          border: 3px solid $anger;
        }
  }    
    
  .bar-confident {
    background: rgba($confident, .4);
    
        &.bar-selected {
          background: rgba($confident, .8);
          border: 3px solid $confident;
        }
  }
   
  .bar-tentative {
    background: rgba($tentative, .4);

    &.bar-selected {
      background: rgba($tentative, .8);
      border: 3px solid $tentative;
    }
  }
  
  .bar.bar-selected {
    opacity: 1;
  }
}

.Source {
  display: flex;
  align-items: center;

  &__icon {
    padding-right: 10px;

    img {
      width: 30px;
      height: 30px;
    }
  }

  &__bar {
    flex-grow: 1;
  }
}
