* {
  font-size: 20px;
  font-family: sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.mood-button-container {
  margin: auto;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.mood-button {
  background-color: transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  outline:none;
  border: none;
}

.mood-selected-container {
  margin: 20px 0;
  text-align: center;
  font-size: 3em;

  p {
    font-size: 1rem;
    margin: 0;
  }
}


.stacked-bar-graph {
  width: 100%;
  height: 38px;
  display: flex;

  .bar {
    height:100%;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }
  }

$analytical: #264653;
$fear: #2A9D8F;
$joy: #E9C46A;
$sadness: #F4A261;
$anger: #E76F51;
$confident: #E2E874;
$tentative: #2A859E;

  .bar-analytical {
    background: $analytical;
  }

  .bar-fear {
    background: $fear;
  }

  .bar-joy{
    background: $joy;
  }
  
  .bar-sadness {
    background: $sadness;
  }
    
  .bar-anger {
    background: $anger;
  }    
    
  .bar-confident {
    background: $confident;
  }
   
  .bar-tentative {
    background: $tentative;

    &.bar-selected {
      border: 3px solid black;
    }
  }
  
  .bar.bar-selected {
    opacity: 1;
  }
}

.Source {
  display: flex;
  align-items: center;

  &__icon {
    padding-right: 10px;

    img {
      width: 30px;
      height: 30px;
    }
  }

  &__bar {
    flex-grow: 1;
  }
}